<div class="d-flex p-2 p-md-4 pb-5" style="min-height: 100vh">
  <div class="my-auto w-100 pb-5">
    <div class="d-flex">
      <h2>
        {{'add item'}}
      </h2>
      <div class="flex-grow-1"></div>
    </div>
    <div class="row pb-5">
      <form class="col-12 d-flex flex-column">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <image-gallery></image-gallery>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
